body {
  margin: 0;
  padding: 0;
  background: #AAD9BB;
  color: #1E1E1F;
  font-family: 'VT323', monospace;
}

#root {
  /* box-sizing: border-box; */
  margin: 50px 500px;
  padding: 20px;
  position: relative;
  min-height: 50vh;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 2px 2px 2px 2px black;
}
